@import url(//fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic,cyrillic-ext,latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400&subset=latin,cyrillic-ext,cyrillic,latin-ext);
/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */

/* Common styles  BEGIN */
html, body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  min-width: 320px;
  height: auto;
}
html {
  background: #fff;
}
body {
  overflow: hidden;
}
input[type=text],
input[type=password],
input[type=email] {
  padding: 0 5px;
  font-size: 0.85em;
  height: 23px;
  box-sizing: border-box;
}
textarea {
  padding: 5px;
  font-size: 0.85em;
  resize: vertical;
}
table, td {
  border: none;
  border-collapse: initial;
}
ul,
ul.primary {
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
h2 {
  font-size: 20px;
}
.comments-amount:hover {
  color: #000;
}
.author-datetime a:visited {
  color: #3d666f;
}
.author-datetime a:hover {
  color: black;
}
textarea {
  box-sizing: border-box;
}
input, textarea {
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}
.field-content:before,
.columns:before,
.clearfix:before,
#content:before,
.breadcrumb:before,
.block-title:before,
.view-header:before,
.view-portfolio-page:before,
.contact-columns:before,
.node-blog:before,
nav:before {
  content: " ";
  display: table;
}
.field-content:after,
.columns:after,
.clearfix:after,
#content:after,
.breadcrumb:after,
.block-title:after,
.view-header:after,
.view-portfolio-page:after,
.contact-columns:after,
.node-blog:before,
nav:after {
  content: " ";
  display: table;
  clear: both;
}
#logo a,
#logo img {
  display: block;
}
.form-actions .form-submit {
  margin-right: 15px;
}
.form-actions .form-submit:last-child {
  margin-right: 0;
}
.form-actions #edit-preview {
  margin-right: 15px;
}
#main-content {
  margin: 0 20px;
}
#columns {
  margin: 0 10px;
  height: auto !important;
}
.page-user .user-picture {
  float: none;
}
body {
  background: url(../images/bg.png);
}
#page-wrapper {
  padding-bottom: 120px;
}
#page {
  background: #fff;
  box-shadow: 0px 4px 10px 0.00px rgba(0, 0, 0, 0.3);
}
#page-title {
  margin: 0.83em 0;
}
.front #page-title,
.custom-contact #page-title {
  display: none;
}
p {
  font-family: "Open Sans", sans-serif;
  color: #262626;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}
#columns #block-views-front-carousel-block .views-field-nothing span.field-content a,
.columns-front-page strong + p,
body h2,
body #page header.node-header h1.node-title a,
#page-title,
.view-blog-page-view .views-field-title a,
footer h1 {
  margin: 0 0 20px;
  font-family: "Roboto Condensed";
  color:  #0daed1;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  clear: both;
}
#columns #block-views-front-carousel-block .views-field-nothing span.field-content a,
body #page header.node-header h1.node-title a,
.view-blog-page-view .views-field-title a {
  height: auto;
  line-height: 1;
  margin-bottom: 10px;
  display: inline-block;
}
#columns #block-views-front-carousel-block .views-field-nothing span.field-content a:hover,
body #page header.node-header h1.node-title a:hover,
.view-blog-page-view .views-field-title a:hover {
  color: #0ac7f0;
}
.region-header .block-content a, #block-system-user-menu .block-inner ul.menu li a {
  font-family: "Open Sans";
  color:  #777777;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  height: 12px;
}
.region-header .block-content a:hover, #block-system-user-menu .block-inner ul.menu li a:hover {
  color: #000000;
}
#block-system-user-menu {
  float: right;
  margin-bottom: -20px;
}
#block-system-user-menu h2 {
  display: none;
}
#block-system-user-menu .block-inner ul.menu li {
  list-style: none;
  float: left;
}
.views-field-view-node a,
.custom-contact-webform input[type=submit],
#user-login-form input[type=submit],
#comment-form input[type=submit],
.node-readmore a {
  line-height: 1;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  padding: 6px 11px;
  background: #0099ba;
  -webkit-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.4), inset 0px 14px 0px 0px rgba(255,255,255,0.2);
  -moz-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.4), inset 0px 14px 0px 0px rgba(255,255,255,0.2);
  box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.4), inset 0px 14px 0px 0px rgba(255,255,255,0.2);
  border: 1px solid #0087a4;
  border-radius: 3px;
  display: inline-block;
}
.views-field-view-node a:hover,
.custom-contact-webform input[type=submit]:hover,
#user-login-form input[type=submit]:hover,
#comment-form input[type=submit]:hover,
.node-readmore a:hover {
  background: #262626;
  border-color: #262626;
}
.views-field-view-node .field-content {
  float: right;
  display: block;
  border-radius: 3px;
  overflow: hidden;
}
.views-field-view-node a {
  display: block;
}
.custom-contact-webform input[type=submit] {
  padding: 6px 12px;
  border: none;
}
.block-superfish .menu-toggle a,
#primary-menu-bar a,
#block-system-main-menu .menu a,
.views-field-view-node a,
.custom-contact-webform input[type=submit],
#user-login-form input[type=submit],
#comment-form input[type=submit],
.node-readmore a,
#block-block-3 .content a,
#block-views-partners-carousel-block .owl-item .views-field-field-image .field-content a,
.region-footer .block-superfish .sf-style-default.sf-menu li a,
#block-views-recent-blog-posts-block .view .field-content a,
#columns #block-views-front-carousel-block .views-field-nothing span.field-content a,
body #page header.node-header h1.node-title a,
.view-blog-page-view .views-field-title a,
#block-views-recent-articles-block .views-field-title .field-content a,
#block-views-recent-blog-posts-block img,
.owl-controls .owl-page span,
.block-superfish ul#superfish-1 form input[type=submit],
header #edit-actions input, header #block-search-form input[type=submit],
.pager a,
#menu.responsive-menu-block a,
#menu.responsive-menu-block input,
#menu .toggle-sub {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.sf-accordion-toggle,
.sf-accordion {
  display: none !important;
}
/* Common styles END */

/* Testimonials */
#block-views-testimonials-block {
  margin: 30px 0 60px;
  position: relative;
}

#block-views-testimonials-block .view {
  padding-top: 30px;
  background-color:  #e5f2f5;
  padding-bottom: 20px;
  border: 1px solid #b8d7de;
  border-radius: 3px;
  padding-left: 45px;
}

#block-views-testimonials-block:after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 10%;
  display: block;
  width: 0;
  background: url(../images/testimonials_bottom_bg.png);
  width: 19px;
  height: 16px;
}

#block-views-testimonials-block .views-row {
  padding: 0 40px;
  padding-left: 65px;
  background: url(../images/testimonials_quotes.png) no-repeat;
}

#block-views-testimonials-block .field-content p,
#block-views-testimonials-block .field-content {
  color:  #3d666f;
  font-style: italic;
}

#block-views-testimonials-block .views-field-body {
  font-size: 13px;
}

#block-views-testimonials-block .views-field-field-author {
  font-size: 14px;
  text-align: right;
}

/* Recent articles section */

#block-views-recent-articles-block .views-field-title .field-content a {
  font-family: "Roboto Condensed";
  color:  #0daed1;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  height: 21px;
}

#block-views-recent-articles-block .views-field-title .field-content a:hover {
  color: #0ac7f0;
}

#block-views-recent-articles-block .views-field-field-image {
  margin-bottom: 20px;
}

#block-views-recent-articles-block .views-field-body {
  margin-bottom: 10px;
}

#block-views-recent-articles-block .views-field-body p {
  margin: 0;
}

#block-views-recent-articles-block img {
  border-radius: 6px;
  display: block;
}

#block-views-recent-articles-block .views-row {
  position: relative;
}

#block-views-recent-articles-block .views-row .views-field-view-node {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Footer */

#footer {
  background-color: #262626;
  box-shadow: 0px -8px 0px 0.00px #c6d0d1;
  font-size: 13px; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 30px;
}

footer .region-inner {
  padding: 25px 0 50px;
  margin: 0 20px;
}

#footer .region-footer {
  margin: 0 10px;
}

#footer h2 {
  margin: 0 0 5px;
}

#block-block-1 .content,
#block-block-2 .content,
.region-footer .sf-main-menu {
  width: 210px;
}

.region-footer .block-superfish .block-inner {
  margin: 0;
}

#block-views-recent-blog-posts-block .content,
.front .owl-carousel .views-field.views-field-view-node {
  width: 220px;
}

#block-views-recent-blog-posts-block a,
.region-footer .block-superfish .content a {
  color: #dcdcdc;
}

.region-footer .block-superfish .content a,
#block-block-2 .content a {
  line-height: 36px;
}

.region-footer .block-superfish .content li,
#block-block-2 .content li {
  border-bottom: 1px solid #727272;
  margin: 0;
}

.region-footer .block-superfish .content li:last-child,
#block-block-2 .content li:last-child {
  border: none;
}

.region-footer .block-superfish .content li {
  float: none;
}

.region-footer .block-superfish .content li.sf-depth-1 li,
.region-footer .block-superfish .content .sf-sub-indicator {
  display: none;
}

#block-block-2 .content li a {
  padding-left: 40px;
}

.sf-menu.sf-style-default {
  margin-bottom: 0;
}

#block-views-recent-blog-posts-block .view,
#block-block-1 .content {
  padding-top: 10px;
}

#block-views-recent-blog-posts-block .views-row {
  min-height: 70px;
  margin-bottom: 15px;
}

#block-views-recent-blog-posts-block .views-field-field-image {
  float: left;
  padding-right: 12px;
}

#block-views-recent-blog-posts-block .views-field-created {
  line-height: 18px;
  font-size: 12px;
}

#block-views-recent-blog-posts-block .views-field-title {
  line-height: 18px;
  font-size: 13px;
}

#block-views-recent-blog-posts-block .view .field-content:before,
#block-views-recent-blog-posts-block .view .field-content:after {
  content: none;
}

#block-views-recent-blog-posts-block img {
  border: 5px solid #0f0f0f;
  border-radius: 8px;
}

#block-views-recent-blog-posts-block img:hover {
  border-color: #525252;
}

#block-block-2 .content ul li a {
  line-height: 40px;
  padding: 7px 0px 7px 40px;
}

#fb a:hover {
  background: url(../images/fb.png) 0px -34px no-repeat;
}

#linkedin a:hover {
  background: url(../images/linkedin.png) 0px -34px no-repeat;
}

#google a:hover {
  background: url(../images/google.png) 0px -34px no-repeat;
}

#twitter a:hover {
  background: url(../images/twitter.png) 0px -34px no-repeat;
}

#fb a {
  background: url(../images/fb.png) 0px 0px no-repeat;
}

#linkedin a {
  background: url(../images/linkedin.png) 0px 0px no-repeat;
}

#google a {
  background: url(../images/google.png) 0px 0px no-repeat;
}

#twitter a {
  background: url(../images/twitter.png) 0px 0px no-repeat;
}

/* Header */

#user-login a {
  padding-left: 18px;
  background: url(../images/login_icon.png)0 50% no-repeat;
  margin: 0;
}

#block-block-3 ul #user-login {
  padding-right: 0;
}

.logged-in #user-login {
  display: none;
}

#block-block-3 ul li {
  float: left;
  padding-right: 20px;
}

#block-block-3 #email-icon a {
  background: url(../images/email_icon.png) 0 50% no-repeat;
  padding-left: 23px;
}

#block-block-3 #phone-icon a {
  background: url(../images/phone_icon.png) 0 50% no-repeat;
  padding-left: 18px;
}

.username-wrapper,
.username-wrapper span,
.post-time-node {
  color: #3d666f;
}

.username-wrapper {
  padding-left: 16px;
  padding-right: 2px;
  background: url(../images/user_icon.png) no-repeat;
  background-position-y: center;
  border-right: 1px solid #c6d0d1;
  margin-right: 6px;
}

.post-time-node {
  padding-right: 2px;
  padding-left: 18px;
  background: url(../images/time_icon.png) no-repeat;
  background-position-y: center;
  border-right: 1px solid #c6d0d1;
  margin-right: 6px;
}

.comments-amount {
  color: #3d666f;
  padding-left: 18px;
  background: url(../images/comment_icon.png) no-repeat;
  background-position-y: center;
}

#block-search-form,
#block-search-form * {
  max-width: 100%;
  box-sizing: border-box;
}

.block-search .container-inline {
  position: relative;
  display: inline-block;
}

#block-search-form .form-type-textfield input {
  width: 220px;
  height: 30px;
  border: none;
  background: #ecf3f4;
  padding-left: 10px;
  padding-right: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

#block-search-form .form-actions {
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#block-search-form #edit-actions input,
#block-search-form input[type=submit] {
  font-size: 0px;
  height: 30px;
  width: 41px;
  background: url(../images/search.png);
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0.7;
  display: block;
}

#block-search-form #edit-actions input:hover,
#block-search-form input[type=submit]:hover {
  opacity: 1;
}

#block-block-3 ul {
  margin: 0;
}

#block-block-3 .content ul {
  margin: 0;
}

/* Main nav BEGIN */
.responsive-menu-wrapper {
  display: none;
}
#menu-bar .block-superfish,
.block-responsive-menu,
#block-system-main-menu,
#primary-menu-bar {
  margin-top: 20px;
  background: #262626;
  background: -webkit-linear-gradient(90deg, #262626 0%, #303030 100%);
  background: -moz-linear-gradient(90deg, #262626 0%, #303030 100%);
  background: -o-linear-gradient(90deg, #262626 0%, #303030 100%);
  background: -ms-linear-gradient(90deg, #262626 0%, #303030 100%);
  background: linear-gradient(0deg, #262626 0%, #303030 100%);
  width: 100%;
  height: 40px;
  margin: 0px;
}
#menu-bar .block-superfish .block-inner,
#primary-menu-bar .menu-wrapper {
  margin: 0;
}
#menu-bar .block-superfish,
#block-system-main-menu ul.menu,
#primary-menu-bar .menu {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
#menu-bar .sf-main-menu {
  margin: 0;
}
#menu-bar .block-superfish .sf-menu li,
#block-system-main-menu .menu li,
#primary-menu-bar li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
}
#menu-bar .block-superfish .sf-menu.sf-style-default li a,
#block-system-main-menu .menu a,
#primary-menu-bar a {
  background-color: #262626;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  padding: 12px 34px;
  margin: 0px;
  display: block;
  position: relative;
  white-space: nowrap;
  -webkit-transition: color 0.3s ease-out,
    background-color 0.3s ease-out,
    box-shadow 0.3s ease-out;
  transition: color 0.3s ease-out,
    background-color 0.3s ease-out,
    box-shadow 0.3s ease-out;
}
#block-system-main-menu .menu li {
  background-color: #262626;
}
#menu-bar .block-superfish li.first.sf-depth-1 > a:before,
#block-system-main-menu > .menu > .menu-depth-1.first > a:before,
#primary-menu-bar li.first > a:before,
#menu.responsive-menu-block > ul > .first > a:before {
  content: '';
  width: 17px;
  height: 12px;
  background: url(../images/menu_home.png) no-repeat;
  display: inline-block;
}
#block-system-main-menu .menu li {
  position: relative;
}
#block-system-main-menu .menu .menu {
  left: 0;
  position: absolute;
  top: -99999em;
  width: 12em;
  z-index: 498;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul,
#block-system-main-menu .menu li:hover > .menu {
  top: 100%;
}
#block-system-main-menu .menu .menu li:hover > .menu {
  top: 0;
  left: 100%;
}
a > .sf-sub-indicator,
span.nolink > .sf-sub-indicator {
  top: 1em;
}
/* Main nav END */

/* Blog Left Sidebar */
#main-content,
.region.sidebar .block {
  padding-top: 10px;
  padding-bottom: 10px;
}

#block-views-archive-block a,
#block-views-categories-block a,
#block-views-comments-recent-block a {
  color: #262626;
  font-size: 13px;
  font-weight: 400;
}

#block-views-archive-block a,
#block-views-categories-block a {
  line-height: 24px;
}

#block-views-comments-recent-block a {
  line-height: 18px;
}
/* Page Contacts */

body.contact #block-system-main {
  float: right;
  width: 460px;
}

body.contact #page-title {
  display: none;
}

body.contact #page-wrapper #content-column .content-inner {
  margin-bottom: 0;
  min-height: 0;
}

label,
#block-user-login ul li a {
  font-family: "Open Sans";
  color:#262626;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}

.region-footer .block-superfish .sf-menu a {
  list-style: none;
  margin: 0;
  padding: 0;
}

#block-user-login ul li a {
  text-decoration: underline;
}

#block-user-login ul li {
  margin-left: 0;
}

#edit-submitted-message {
  font-size: 0.85em;
  padding:0 5px;
}

#edit-submitted-message {
  padding-top: 3px;
}

.custom-contact-webform input[type=text] {
  height: 25px;
  box-sizing: border-box;
  padding: 0 5px;
}

.custom-contact .node.clearfix .contact-column {
  font-family: 'Open Sans';
  font-size: 13px;
  line-height: 18px;
  margin: 20px 0;
}

.custom-contact .node.clearfix h2 {
  clear: both;
}

.custom-contact .node.clearfix .contact-column {
  color:  #262626;
  font-weight: 400;
  width: 230px;
}

.custom-contact .node.clearfix .contact-column ul li a {
  color: inherit;
}

.custom-contact .node.clearfix .contact-column strong {
  color:  #3d666f;
  font-style: italic;
}

#main-content-header {
  margin: 0;
}

.contact .iframe-wrapper {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}

.contact .iframe-wrapper iframe {
  display: block;
}

.contact #block-system-main .contact-column strong {
  color: #3d666f;
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
}

.contact #block-system-main .contact-columns {
  margin-bottom: 50px;
}

.contact #block-system-main .contact-column ul {
  margin-top: 0;
}

.contact #content {
  padding-bottom: 50px;
}

/* Owl Carousel Partners */

.owl-theme .owl-controls {
  margin-top: 20px;
}

#block-views-partners-carousel-block {
  margin: 20px 0;
}

#block-views-partners-carousel-block .owl-item img {
  width: 100%;
  height: auto;
}

#block-views-partners-carousel-block .owl-item .views-field-field-image {
  padding: 0 20px;
}

#block-views-partners-carousel-block .owl-wrapper-outer {
  margin: 0 -10px;
}

#block-views-partners-carousel-block .owl-theme .owl-controls .owl-buttons div {
 padding: 7px 6px;
}

#block-views-partners-carousel-block .owl-theme .owl-controls .owl-buttons {
  position: absolute;
  top: -50px;
  left: 47.5%;
  width: 5%;
}


#block-views-partners-carousel-block .owl-theme .owl-controls .owl-buttons div.owl-prev {
  background: url(../images/carousel_arrs.png);
}

#block-views-partners-carousel-block .owl-theme .owl-controls .owl-buttons div.owl-prev:hover {
  background: url(../images/carousel_arrs.png) 0px 15px;
}

#block-views-partners-carousel-block .owl-theme .owl-controls .owl-buttons div.owl-next {
  background: url(../images/carousel_arrs.png) -8px 0px;
}

#block-views-partners-carousel-block .owl-theme .owl-controls .owl-buttons div.owl-next:hover {
  background: url(../images/carousel_arrs.png) -8px 15px;
}

#block-views-partners-carousel-block h2 {
  padding: 20px 0px 20px 50px;
  background: url('../images/icon_star.png') no-repeat;
  background-position-y: center;
  font-size: 20px;
  margin-bottom: 10px;
}

#owl-carousel-block17 img {
  border: 8px solid #ecf3f4;
  border-radius: 8px;
  width: 184px;
  height: 94px;
}

#owl-carousel-block17 img:hover {
  border-color: #0daed1;
}

.owl-theme .owl-controls .owl-buttons div {
  opacity: 1;
}

#block-views-partners-carousel-block .owl-item .views-field-field-image .field-content a {
  border: 6px solid #ecf3f4;
  border-radius: 6px;
}

#block-views-partners-carousel-block .owl-item .views-field-field-image .field-content a:hover {
  border-color: #d7d7d7;
}

#block-views-partners-carousel-block .owl-item .views-field-field-image a,
#block-views-partners-carousel-block .owl-item .views-field-field-image img {
  display: block;
}

.owl-carousel-block {
  z-index: 0;
}

#block-views-front-carousel-block .owl-controls .owl-page {
  margin-right: 2.5px;
  margin-left: 2.5px;
}

#block-views-front-carousel-block .owl-controls .owl-page span {
  position: relative;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1px solid #ffffff;
  opacity: 1;
}
#block-views-front-carousel-block .owl-controls .owl-page span:before {
  content: " ";
  box-sizing: border-box;
  position: absolute;
  top: -6px;
  left: -6px;
  width: 26px;
  height: 26px;
  border: 5px solid #d0d9db;
  border: 5px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
/* 3 column under slideshow on front page */

.columns-front-page {
  padding-top: 50px;
}

.columns-front-page .column p {
  margin-bottom: 10px;
}

.columns-front-page div.column {
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
  box-sizing: border-box;
}

.columns-front-page div.column ul {
  padding-left: 50px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.columns-front-page div.column ul li,
#block-views-archive-block .content ul li,
#block-views-categories-block .views-row {
  height: 19px;
  margin: 5px 0;
  list-style: none;
  line-height: 1.3;
  font-size: 13px;
  font-weight: 400;
}

.columns-front-page div.column ul li {
  height: auto;
}

.columns-front-page div.column ul li a,
#block-views-archive-block .content ul li a,
#block-views-categories-block .views-row span.field-content a {
  background: url('../images/list-style.png') 0 4px no-repeat;
  padding-left: 14px;
  display: inline-block;
}

.columns-front-page div.column ul li a:hover,
#block-views-archive-block .content ul li a:hover,
#block-views-categories-block .views-row span.field-content a:hover {
  text-decoration: underline;
}

.columns-front-page div.column ul li a {
  color: #262626;
}

.columns-front-page strong {
  background-position-y: center;
  display: block;
}

#ben-col-1 {
 background: url('../images/icon_paper.png') no-repeat;
}

#ben-col-2 {
 background: url('../images/icon_star.png') no-repeat;
}

#ben-col-3 {
 background: url('../images/icon_mobile.png') no-repeat;
}


/* RECENT COMMENTS BLOCK */

#block-comment-recent .block-inner {
  padding: 0;
}

#block-views-comments-recent-block .views-row,
#block-comment-recent .content li,
#block-node-recent tr {
  padding-left: 22px;
  position: relative;
  margin: 8px 0;
}

#block-views-comments-recent-block .views-field-subject,
#block-views-comments-recent-block .views-field-timestamp,
#block-comment-recent .content a,
#block-comment-recent span,
#block-node-recent .node-title,
#block-node-recent .node-author {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  display: inline;
}

#block-views-comments-recent-block .views-field-subject,
#block-comment-recent .content a,
#block-node-recent .node-title {
  color: #262626;
  font-weight: 400;
}

#block-views-comments-recent-block .views-field-subject:before,
#block-comment-recent .content li a:before,
#block-node-recent .node-title:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0px;
  top: 7px;
  background: url(../images/comment_icon.png) no-repeat;
  display: block;
}

#block-views-comments-recent-block .views-field-timestamp,
#block-comment-recent span,
#block-node-recent .node-author {
  color: #3d666f;
  display: inline;
}

/* RECENT CONTENT */
#block-node-recent .block-inner {
  padding: 0;
}
#block-node-recent table {
  width: 100%;
}
#block-node-recent tr {
  display: block;
  border: none;
  background: none;
  margin: 0 0 15px;
}

#block-node-recent .title-author,
#block-node-recent .node-title,
#block-node-recent .node-author {
  display: block;
}

#block-node-recent .title-author {
  margin-bottom: 5px;
}

#block-node-recent .edit,
#block-node-recent .delete {
  display: inline-block;
  margin-right: 5px;
}

.not-logged-in #block-node-recent .edit,
.not-logged-in #block-node-recent .delete {
  display: none;
}

/* BLOG ENTRY STYLING */
#block-system-main .node,
#page-title {
  margin-top: 20px;
}

#main-content-header + #content #block-system-main .node,
.region-breadcrumb + #columns #page-title {
  margin-top: 0;
}

#block-system-main .views-field-field-image {
  border-radius: 8px;
}

.region-sidebar-first section + section,
.region-sidebar-second section + section,
.region-sidebar-first .block + .block,
.region-sidebar-second .block + .block {
  border-top: 1px solid #c6d0d1;
}

.region-sidebar-first section .block-inner,
.region-sidebar-second section .block-inner {
  margin: 0;
  padding-bottom: 20px;
}

#block-views-recent-portfolio-items-block .views-field-field-image img {
  border-radius: 5px;
}

#block-views-recent-portfolio-items-block .views-row + .views-row {
  padding-top: 15px;
}

.region-sidebar-first {
  -webkit-box-shadow:  30px 0px 86px -60px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:     30px 0px 86px -60px rgba(0, 0, 0, 0.4);
  box-shadow:          30px 0px 86px -60px rgba(0, 0, 0, 0.4);
}

.region-sidebar-second {
  -webkit-box-shadow: -30px 0px 86px -60px rgba(0,0,0,0.4);
  -moz-box-shadow:    -30px 0px 86px -60px rgba(0,0,0,0.4);
  box-shadow:         -30px 0px 86px -60px rgba(0,0,0,0.4);
}

#block-user-login input[type=text],
#block-user-login input[type=password] {
  height: 25px;
  padding: 0 5px;
  box-sizing: border-box;
}

/* Slideshow Styling */

#columns #block-views-front-carousel-block .views-field-nothing span.field-content p {
  color: #fff;
  margin: 0;
  line-height: 1.5;
}

#columns #block-views-front-carousel-block {
  margin: 0px;
}

#block-views-front-carousel-block .owl-controls .owl-buttons {
  display: none;
}

#block-views-front-carousel-block .views-field-nothing {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 25px 40px;
  background-color: rgba(0, 0, 0, 0.55);
  width: 40%;
}

#block-views-front-carousel-block .owl-controls {
  text-align: left;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

#block-views-front-carousel-block .owl-wrapper .views-field-field-image img {
  display: block;
}

#page-wrapper #content-column .content-inner {
  margin-bottom: 40px;
}

.page-node-140 #page-title {
  display: block;
}

input {outline: none;}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
    -webkit-text-fill-color: #999 !important; /* цвет текста */
    color: #999 !important; /* цвет текста */
}


#user-login-form #edit-submit {
  float: right;
}

.view-blog-page-view {
  margin-bottom: 20px;
}

.view-blog-page-view .views-row {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c6d0d1;
}

.view-blog-page-view .views-row-last {
  border-bottom: none;
}

.view-blog-page-view .field-type-image img {
  border-radius: 10px;
}

/*BLOG PAGER STYLING */

.pager a {
  display: inline-block;
}

#block-user-login ul li a:hover {
  color: gray;
}

.item-list-pager ul.pager li {
  padding: 0;
  margin: 0 0 0 2px;
  font-size: 13px;
  display: inline-block;
}

.item-list-pager ul.pager li.pager-next,
.item-list-pager ul.pager li.pager-last
{
  margin: 0 0 0 10px;
}

.item-list-pager ul.pager li.pager-first,
.item-list-pager ul.pager li.pager-previous
{
  margin: 0 10px 0 0;
}

.item-list-pager ul.pager li a,
.item-list-pager ul.pager li.pager-current {
  vertical-align: top;
  padding: 3px 9px;
}

.item-list-pager ul.pager li.pager-current {
  padding-top: 5px;
}

.item-list-pager ul.pager li a {
  color:  #dcdcdc;
 /* Приближение из-за подстановки шрифтов */
  line-height: 20px;

  background: #262626;
}

.item-list-pager ul.pager li a:hover {
  color:  #262626;
  background: #AFA9A9;
}

#tasks ul.action-links a {
  color: black;
}

.author-datetime,
.author-datetime span,
.author-datetime a {
  font-family: "Open Sans";
  color:  #3d666f;
  font-size: 13px; /* Приближение из-за подстановки шрифтов */
  font-style: italic;
  margin-bottom: 10px;
}


header.node-header {
  margin-left: 0;
  margin-bottom: 0;
}

header.node-header h1 {
  font-size: initial;
  margin: 7px 0;
}

.node-title {
  margin: 0;
}

article.node > footer .user-picture {
  display: none;

}

.comment, #comments .comment-title {
  padding-top: 20px;
  border-top: 1px solid #daebed;
  margin-top: 19px;
}

.comment .user-picture {
  float: left;
  padding-right: 20px;
}

.comment .author-datetime {
  margin-bottom: 8px;
}

#comments .indented {
  margin-left: 20px;
}

#comments > article:nth-of-type(1) {
  border: none;
  margin-top: 0;
  padding-top: 0;
}

#comments .comment .field-name-comment-body p {
  margin-left: 100px;
}

#comments nav {
  clear: left;
  float: right;
}

#comments nav a {
  color: black;
  font-weight: 600;
  font-size: 12px;
}

#comments nav a:hover {
  color: rgb(155, 155, 155);
}

#comments span[datatype="xsd:dateTime"] {
  padding-left: 6px;
  border-left: 1px solid #c6d0d1;
  margin-left: 8px;
  color: #3d666f;
}

.comment ul.links li:first-child {
  padding-left: 0;
}

#tasks {
  margin: 0.83em 0;
}

ul.inline .node-readmore {
  padding: 0;
}

.node > nav {
  float: right;
}

.item-list ul.pager {
  margin: 0 0 60px 0;
  padding: 0;
}

.page-portfolio .item-list ul.pager {
  margin: 20px 0 60px 0;
  padding: 0;
}

.page-portfolio #block-system-main .view-header > p,
.view-portfolio-categories {
  display: inline-block;
}

#comment-body-add-more-wrapper fieldset.filter-wrapper.form-wrapper,
#comment-body-add-more-wrapper .grippie,
#comment-form .description {
  display: none;
}

#comment-body-add-more-wrapper textarea {
  resize: none;
}


/* tabs styling */

#tasks ul.tabs li a {
  color: #3d666f;
}

#comment-form input[type=text] {
  width: 100%;
}

body #page header.node-header h1.node-title a:hover {
  color: #0B768D;
}

#block-views-archive-block .content ul li a:hover ,
#block-views-categories-block .views-row span.field-content a:hover {
  color: #A2A2A2;
}

/* Portfolio Page Styling */

.page-portfolio #page-title {
  display: none;
}

.page-portfolio .view.view-id-portfolio_page .views-row img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.page-portfolio .view.view-id-portfolio_page .view-content {
  margin-right: -3%;
}

.page-portfolio .view.view-id-portfolio_page .view-header + .view-content .views-row {
  float: left;
  margin: 0 2% 2% 0;
  display: inline-block;
}


#main-content .field-name-field-image {
  margin: 0.8em 0 1.4em;
}

#main-content .node-promoted .field-name-field-image img {
  border-radius: 6px;
}

#main-content .node-promoted .field-name-field-image {
  line-height: 0;
}

/* Portfolio Categories Links Styling */

#portfolio-categories {
  text-align: right;
}

#portfolio-categories li {
  display: inline;
}

.view-portfolio-page .view-header {
  text-align: right;
}

.view-portfolio-categories .views-row .field-content a.active {
  color:  #3d666f;
  font-size: 13px;
  font-style: italic;
}

.page-portfolio #block-system-main .view-header > p a:hover {
  color:  #3d666f;
}

.view-portfolio-categories .views-row .field-content a:hover {
  color:  #3d666f;
}

.view.view-id-portfolio_page .view-header .view-portfolio-categories,
.page-portfolio #block-system-main .view-header > p {
  height: 22px;
  margin: 0;
  margin-right: 1%;
  padding-bottom: 20px;
  vertical-align: middle;
}
.view.view-id-portfolio_page .view-header .view-portfolio-categories .view-content {
  margin-right: 0;
  display: inline-block;
}

.view-portfolio-categories .views-row .field-content a {
  color:  #262626;
  font-size: 13px;
}

.view-portfolio-categories .views-row {
  display: inline;
  float: left;
}

.view.view-id-portfolio_page .view-content {
  clear: left;
}

.view-portfolio-categories .views-row {
  padding: 0 9px;
  border-left: 1px solid #c6d0d1;
}

.view-portfolio-categories .views-row.views-row-last {
  padding-right: 0;
}

#owl-carousel-block19 .owl-item {
  position: relative;
  width: 100%;
}

/* Breadcrumbs styling */
.breadcrumb {
  padding: 0;
}

#block-delta-blocks-breadcrumb{
  margin: 0px 2%;
}

#block-delta-blocks-breadcrumb .content ul.breadcrumb {
  margin: 30px 0 10px;
}

#block-delta-blocks-breadcrumb .content ul.breadcrumb li {
  float: left;
}

#block-delta-blocks-breadcrumb .content ul.breadcrumb li a {
  font-family: "Open Sans";
  color:  #262626;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration: underline;
  padding-right: 5px;
}

#block-delta-blocks-breadcrumb .content ul.breadcrumb li a:hover {
  color: gray;
}

#block-delta-blocks-breadcrumb .content ul.breadcrumb li:after {
  content: ">";
  padding-right: 5px;
  text-decoration: none;
  color: #262626;
  font-size: 13px;
}

#block-delta-blocks-breadcrumb .content ul.breadcrumb li.last:after {
  content: none;
}

#block-delta-blocks-breadcrumb .content ul.breadcrumb li.first a:before {
  content: none;
}

#block-delta-blocks-breadcrumb .content ul.breadcrumb li.last a {
  text-decoration: none;
}

.node-portfolio-project img {
  border-radius: 15px;
}

/*---- LAVEG ----*/

footer a,
footer p,
footer span {
	color: #dcdcdc;
}

.sf-style-default.sf-menu li,
.sf-style-default.sf-menu li li,
.sf-style-default.sf-menu li li li
 {
	background-color: inherit;
	opacity: 1;
}

.sf-menu.sf-style-default li:hover,
.sf-menu.sf-style-default li.sfHover,
.sf-menu.sf-style-default a:focus,
.sf-menu.sf-style-default a:hover,
.sf-menu.sf-style-default a:active {
  background: transparent;
}

.region-footer .block-superfish .sf-style-default.sf-menu li a:hover,
.region-footer .block-superfish .sf-style-default.sf-menu li a.active,
#block-views-recent-blog-posts-block .view .field-content a:hover {
  background: transparent;
  color: #0daed1;
}

.sf-style-default.sf-menu li a {
	border: none;
	opacity: 1;
}

.sf-menu li a:hover {
}

#page .sidebar .sf-menu li a {
	width: 79%;
	background: #FFFFFF;
	color: #262626;
}

#page .sidebar .sf-menu #menu-218-1 a:before {
	width: 0;
	height: 0;
}

#search-block-form {
  z-index: 1;
}

.columns-front-page strong + p {
  padding-left: 50px;
}

.columns-front-page strong {
  position: absolute;
  top: -7px;
  left: 0%;
  height: 36px;
  width: 36px;
}

.columns-front-page .column {
  position: relative;
}

#superfish-1-select {
  display: none;
}

.page-taxonomy #block-system-main .node {
  margin-bottom: 50px;
}

#block-system-navigation {
  clear: both;
}
