/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the body font size on small touch devices */
body {
  font-size: 100%;
}

h2 {
  font-size: 22px;
}

.iframe-wrapper {
  margin: 0 -20px;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
/* The toggle link */
.at-mt .at-menu-toggle h2 {
  margin-bottom: 5px;
}

.at-mt .at-menu-toggle h2 a {
  background: #eee;
  border: 2px solid #ccc;
  padding: 2px 10px;
}

/* Menu items */
.at-mt .at-menu-toggle ul.menu li a {
  background: #eee;
  border-bottom: 1px solid #fff;
}

header {
  display: none;
}

#menu-bar {
  margin-bottom: 0;
}

/* Footer Styling */


footer .block {
  padding: 17px 0 15px;
}

footer .block .content {
  padding-top: 10px;
}

footer .block a, p {
  font-size: 16px;
}

footer#footer .block h2 {
  font-size: 22px;
  margin: 0.3em 0;
}

footer .block + .block {
  border-top: 8px solid #727272;
}

footer .block-inner {
  margin: 0;
}

#block-views-recent-blog-posts-block .field-content {
  font-size: 14px;
}

#block-views-recent-blog-posts-block .content img:hover {
  border-color: #525252;
}

footer #block-block-2 .content {
  padding-top: 0;
}

#columns #block-views-partners-carousel-block .owl-buttons {
  display: none;
}

#columns #block-views-partners-carousel-block {
  margin: 20px 0;
}


#columns #block-views-recent-articles-block .views-field-view-node {
  display: none;
}

.columns-front-page div.column {
  display: block;
  vertical-align: top;
}

.page-node-142 #columns .content-inner {
  width: initial;
}

iframe {
  width: 100%;
  height: 436px;
}

.custom-contact .node.clearfix .contact-column {
  width: 100%;
}

.contact-column strong {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.contact-column ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.region-sidebar-first,
.region-sidebar-second {
  box-shadow: none;
}

#columns .region-sidebar-first section,
#columns .region-sidebar-second section {
  margin: 0;
  width: initial;
  border-top: 1px solid #c6d0d1;
}

#block-system-main #node-140.node-page {
  margin: 0;
}

header {
  display: block;
}

header#header .region-header {
  display: none;
}

#block-views-recent-portfolio-items-block .views-field-field-image img,
input[type=text], input[type=password]  {
  width: 100%;
}

#block-views-front-carousel-block, #block-views-testimonials-block {
  width: auto;
}

#columns #block-views-front-carousel-block{
  margin-top: -1px;
}

/* Page Portfolio Styling */

.page-portfolio .view.view-id-portfolio_page .views-row {
  float: left;
  margin: 1%;
  width: 48%;
}
