/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the default font size on small touch devices */
body {
  font-size: 100%;
  min-width: 320px;
}

h2 {
  font-size: 22px;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
/* The toggle link */
.at-mt .at-menu-toggle h2 {
  margin-bottom: 5px;
}

.at-mt .at-menu-toggle h2 a {
  background: #eee;
  border: 2px solid #ccc;
  padding: 9px 30px;
}

/* Menu items */
.at-mt .at-menu-toggle ul.menu li a {
  background: #eee;
  border-bottom: 1px solid #fff;
}

#menu-bar {
  margin-bottom: 0;
}

header#header .region-header {
  display: none;
}

#header {
  border-top: 4px solid #0daed1;
  background: #262626;
  background: -webkit-linear-gradient(90deg, #262626 0%, #303030 100%);
  background: -moz-linear-gradient(90deg, #262626 0%, #303030 100%);
  background: -o-linear-gradient(90deg, #262626 0%, #303030 100%);
  background: -ms-linear-gradient(90deg, #262626 0%, #303030 100%);
  background: linear-gradient(0deg, #262626 0%, #303030 100%);
}

#branding {
  margin: 5px 10px;
  position: absolute;
  z-index: 100;
}

#page {
  position: relative;
}

#page #block-system-main-menu,
#primary-menu-bar {
  padding-top: 50px;
  background: #262626;
  background: -webkit-linear-gradient(90deg, #262626 0%, #303030 100%);
  background: -moz-linear-gradient(90deg, #262626 0%, #303030 100%);
  background: -o-linear-gradient(90deg, #262626 0%, #303030 100%);
  background: -ms-linear-gradient(90deg, #262626 0%, #303030 100%);
  background: linear-gradient(0deg, #262626 0%, #303030 100%);
}

/* MAIN CAROUSEL BLOCK STYLING */


#columns #block-views-front-carousel-block,
.iframe-wrapper, #block-views-testimonials-block  {
  margin: 0px -20px;
}

#block-views-front-carousel-block .views-field-nothing {
  width: 100%;
  height: 50%;
  padding: 0;
  bottom: 0;
  right: 0;
}

#block-views-front-carousel-block .views-field-nothing span {
  position: absolute;
  top: 13px;
  left: 24px;
  width: 90%;
}

#block-views-front-carousel-block .owl-controls {
  position: static;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  text-align: center;
}

#block-views-front-carousel-block .owl-controls .owl-page span {
  width: 22px;
  height: 22px;
  margin: 6px 6px;
  background: #fff;
  opacity: 1;
}

#block-views-front-carousel-block .owl-controls .owl-page span:before {
  border-width: 7px;
  border-color: #c6d0d1;
  border-color: rgba(198, 208, 209, 0.4);
  width: 34px;
  height: 34px;
  top: -7px;
  left: -7px;
}

#block-views-front-carousel-block .owl-controls .owl-page:hover span,
#block-views-front-carousel-block .owl-controls .owl-page.active span {
  background-color: #c6d0d1;
}

#block-views-front-carousel-block .owl-controls .owl-page + .owl-page {
  margin-left: 25px;
}

.columns-front-page div.column {
  display: inline-block;
  vertical-align: top;
}

.columns-front-page {
  margin: 0 0 40px;
}

/* TESTIMONIALS BLOCK STYLING */

#block-views-testimonials-block .view {
  padding: 45px 22px 70px 37px;
  background-color: #e5f2f5;
  padding-bottom: 20px;
  border: 1px solid #b8d7de;
  border-radius: 3px;
  border-left: none;
  border-right: none;
}

#block-views-testimonials-block .views-row {
  padding: 15px 10px 15px 20px;
  background: url(../images/testimonials_quotes.png) no-repeat;
}

/* Header */
label#toggle-icon {
  padding-top: 14px;
  padding-bottom: 14px;
  height: 50px;
}

/* FOOTER STYLING */

footer#footer .region-inner {
  margin: 0 20px;
}

footer .block {
  padding: 17px 0 15px;
}

footer .block .content {
  padding-top: 10px;
}

footer .block a, p {
  font-size: 16px;
}

footer#footer .block h2 {
  font-size: 22px;
  margin: 0.3em 0;
}

footer .block + .block {
  border-top: 8px solid #727272;
}

footer .block-inner {
  margin: 0;
}

.region-footer .sf-main-menu,
#block-views-recent-blog-posts-block .content,
#block-block-1 .content, #block-block-2 .content {
  width: 100%;
}

#block-views-recent-blog-posts-block .field-content {
  font-size: 14px;
}

#block-views-recent-blog-posts-block .content img:hover {
  border-color: #525252;
}

footer #block-block-2 .content {
  padding-top: 0;
}

footer #block-block-2 {
  padding-bottom: 0;
}

/* PARTNERS BLOCK CAROUSEL STYLING */

#block-views-partners-carousel-block .owl-item .views-field-field-image {
  padding: 0;
}

#block-views-partners-carousel-block .owl-wrapper-outer {
  margin: 0;
}

#block-views-partners-carousel-block .owl-item .field-content {
  margin-right: 12px;
}

#columns #block-views-partners-carousel-block {
  margin: 32px 0px;
  margin-top: -10px;
}

#columns #block-views-partners-carousel-block .owl-buttons {
  display: none;
}

#block-views-partners-carousel-block h2 {
  margin-bottom: 10px;
}

#block-views-partners-carousel-block .owl-controls .owl-page,
#block-views-recent-articles-block .owl-controls .owl-page {
  background: rgba(198, 208, 209, 0.4);
  border-radius: 50%;
  width: 19px;
  height: 19px;
}

#block-views-partners-carousel-block .owl-controls .owl-page span,
#block-views-recent-articles-block .owl-controls .owl-page span {
  width: 13px;
  height: 13px;
  margin: 3px 3px;
  background: #fff;
  opacity: 1;
}

#block-views-partners-carousel-block .owl-controls .owl-page span:hover,
#block-views-recent-articles-block .owl-controls .owl-page span:hover {
  background: #fff;
  opacity: 0.5;
}

#block-views-partners-carousel-block .owl-controls .owl-page.active span,
#block-views-recent-articles-block .owl-controls .owl-page.active span {
  background: #c6d0d1;
}

#block-views-partners-carousel-block .owl-controls .owl-page,
#block-views-recent-articles-block .owl-controls .owl-page {
  margin: 0 4.5% 4.5%;
}

/* RECENT ARTICLES BLOCK STYLING */

#columns #block-views-recent-articles-block .views-field-view-node {
  display: none;
}

#block-views-recent-articles-block img {
  border-radius: 6px;
  width: 100%;
}

#columns #block-views-recent-articles-block {
  margin: 0 0px;
  margin-top: 50px;
}


.columns-front-page div.column {
  display: block;
  vertical-align: top;
}

.columns-front-page div.column ul {
  clear: left;
}

.columns-front-page div.column ul li {
  height: auto;
  line-height: 22px;
}

.columns-front-page strong {
  float: left;
}

.columns-front-page div.column p {
  line-height: 54px;
}

iframe {
  width: 100%;
  height: 436px;
}

.custom-contact .node.clearfix .contact-column {
  width: 100%;
}

.contact-column ul li, .contact-column strong, form label, #block-webform-client-block-131 input[type=submit] {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#content h2 {
  margin-top: 20px;
}

#content .block-title {
  margin-top: 30px;
}
#content .block:first-child .block-title {
  margin-top: 0;
}

#content .form-actions {
  margin-bottom: 0;
}

#content .form-actions input[type=submit] {
  float: right;
  padding: 6px 20px;
}

#block-webform-client-block-131 {
  padding-bottom: 70px;
  border-bottom: 1px solid #c6d0d1;
}

.custom-contact .node.clearfix h2 {
  margin: 25px 0 10px 0;
  clear: both;
}

.custom-contact .node.clearfix h2.block-title {
  margin-bottom: 20px;
}

.region-sidebar-first,
.region-sidebar-second {
  box-shadow: none;
}

#columns .region-sidebar-first section,
#columns .region-sidebar-second section {
  margin: 0;
  width: initial;
  border-top: 1px solid #c6d0d1;
}

#block-system-main #node-140.node-page {
  margin: 0;
}

#block-views-recent-portfolio-items-block .views-field-field-image img,
input[type=text], input[type=password] {
  width: 100%;
}

.view-blog-page-view .field-type-image img {
  width: 100%;
}


.username-wrapper,
.post-time-node,
.comments-amount {
  display: block;
  font-family: "Open Sans";
  color:  #3d666f;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
  border: none;
  padding-left: 24px;
  padding-bottom: 2px;
  }

.node nav {
  display: none;
}

.view-blog-page-view .views-row {
  padding-bottom: 0px;
  margin-bottom: 30px;
}

.view-blog-page-view .views-row.views-row-last {
  margin-bottom: 0;
}

body #page #block-system-main-menu a,
body #page a,
body #page .content ul li  {
  font-size: 16px;
}

body #page p {
  line-height: 24px;
}

#columns #block-views-front-carousel-block{
  margin-top: -1px;
}

.page-portfolio .view.view-id-portfolio_page .views-row {
  width: 100%;
  margin: 0 0 20px 0;
}

.page-portfolio .view.view-id-portfolio_page .view-content {
  margin-right: 0;
}

#page #columns #main-content, #footer .region, #footer .region-inner, .sidebar .region-inner {
  margin: 0 10px;
}

/* Menu Styling */

input[type=search]::-webkit-input-placeholder {
  content: "search";
  color: #7a7a7a;

}

#tasks ul.primary {
  white-space: initial;
}

#block-delta-blocks-breadcrumb {
  margin-bottom: 15px;
  margin-left:  10px;
}

.page-portfolio #page .view.view-portfolio-categories .views-row {
  width: initial;
  margin: 0;
  border-left: none;
  margin-bottom: 10px;
  padding-left: 0;
}

.page-portfolio .item-list ul.pager {
  margin: 15px 0 28px 0;
  padding: 0;
  padding-top: 13px;
}

.front #page-wrapper #content-column .content-inner {
  margin-bottom: 0px;
}

.view-portfolio-page .view-header {
  text-align: left;
  display: inline-block;
}



.view.view-id-portfolio_page .view-header .view-portfolio-categories .view-content {
  margin-right: 0;
  float: none;
  display: block;
}

.view.view-id-portfolio_page .view-header .view-portfolio-categories,
.page-portfolio #block-system-main .view-header > p {
  height: auto;
  vertical-align: top;
  display: inline-block;
}

.view.view-id-portfolio_page .view-header .view-portfolio-categories a,
.page-portfolio #block-system-main .view-header > p a {
  font-size: 14px;
}

.page-portfolio #page .view.view-portfolio-categories .views-row {
  float: none;
  display: inline-block;
  width: auto;
}

.view.view-id-portfolio_page .view-header .view-portfolio-categories {
  width: 100%;
  display: block;
}

.page-portfolio #block-system-main .view-header > p {
  margin-top: -3px;
  display: block;
}

.page-portfolio #content {
  margin-right: -2%;
}

.item-list-pager ul.pager {
  margin-top: 40px;
  float: none;
  text-align: center;
}

body #page .view-portfolio-categories .views-row a {
  font-size: 14px;
}

.contact .iframe-wrapper {
  border-radius: 0;
}

.contact .iframe-wrapper iframe {
  height: 300px;
}
